/* Style copied from Poole code, which is distributed under GPLv3 terms */
body {
  font-family: sans-serif;
  width: 800px;
  margin: 1em auto;
  color: #2e3436;
}
div#box {
}
div#header, div#menu, div#content, div#footer {
  padding: 1em;
}
div#menu {
  background-color: #eeeeec;
  padding: 0.6em 0 0.6em 0;
}
#menu span {
  font-weight: bold;
  padding: 0.6em;
}
#menu span.current {
  background-color: #ffffff;
  border: 1px solid #eeeeec;
}
#menu a {
  color: #000000;
  text-decoration: none;
}
div#footer {
  color: gray;
  text-align: center;
  font-size: small;
}
div#footer a {
  color: gray;
  text-decoration: none;
}
pre {
  border: dotted black 1px;
  background: #eeeeec;
  font-size: small;
  padding: 1em;
}

/*--------------------------------------------------------------------------*/

table.report_layout, td.report_layout {
  vertical-align: top;
}
td.report_layout {
  padding: 1em;
}

th.nick, th.time {
  border: dotted black 1px;
  background: #eeeeec;
}
th.nick {
  width: 100px;
}
table.list {
  border: dotted black 1px;
  font-size: small;
  padding: 0.2em;
}

/*--------------------------------------------------------------------------*/

input[type=submit], input[type=button] {
  border: 1px solid #999a9c;
  background: #bfc2c6;
}
input[type=text], textarea {
  border: 1px solid #999a9c;
  background: #eee;
}

/*--------------------------------------------------------------------------*/

form div.presence {
  width: 210px;
}
form div.presence p {
  text-align: center;
}
input.enter_button {
  background: #ff0000;
}
input.leave_button {
  background: #00ff00;
}
input.enter_button, input.leave_button {
  width: 100px;
  height: 35px;
}
input.nick {
  width: 203px;
}
