{% extends "template.html" %}

{% block title %}WLokalu: Lista użytkowników{% endblock %}

{% block body %}

<h1>Lista użytkowników</h1>

<table class="report_layout"><tr>
  <td class="report_layout">

    <table class="list">
      <thead>
        <tr>
          <th class="nick">nick</th>
          <th class="time" colspan="2">obecny(a) od</th>
        </tr>
      </thead>
      <tbody>
{% if present %}
{%   for person in present %}
        <tr>
          <td class="nick">{{ person.nick }}</td>
          <td class="time">{{ person.since|date:"Y/m/d H:i T" }}</td>
          <td>
            <form method="post" action="{{ form_target }}">
              <input type="hidden" name="nick" value="{{ person.nick }}" />
              <input type="submit" name="leave" value="wyszedł"
                style="width: 80px"/>
            </form>
          </td>
        </tr>
{%   endfor %}
{% else %}
        <tr>
          <td class="nick" colspan="3"><i>nikogo nie ma</i></td>
        </tr>
{% endif %}
      </tbody>
    </table>

  </td><td class="report_layout">

    <form method="post" action="{{ form_target }}">
      <div class="presence">
        <div>
          {{ form.nick }}
        </div>
        <div style="margin-top: 1em">
          <input type="submit" class="enter_button"
            name="enter" value="Jestem" />
          <input type="submit" class="leave_button"
            name="leave" value="Wychodzę" />
        </div>
      </div>
    </form>

  </td>
</tr></table>

{% endblock %}
