{% extends "template.html" %}

{% block title %}W Lokalu: Lista użytkowników{% endblock %}

{% block body %}

<h1>Lista użytkowników</h1>

<div class="row">

  <div class="col-md-7">

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Nick</th>
          <th colspan="2">Od</th>
        </tr>
      </thead>
      <tbody>
  {% if present %}
  {%   for person in present %}
        <tr>
          <td>{{ person.nick }}</td>
          <td>{{ person.since|date:"Y/m/d H:i T" }}</td>
          <td>
            <form method="post" action="{{ form_target }}">
              <input type="hidden" name="nick" value="{{ person.nick }}" />
              <button type="submit" name="leave" value="Wyszedł" class="btn btn-xs btn-link">Wyszedł</button>
            </form>
          </td>
        </tr>
  {%   endfor %}
  {% else %}
        <tr>
          <td colspan="3"><i>Nikogo nie ma!</i></td>
        </tr>
  {% endif %}
      </tbody>
    </table>

  {% if sensors %}
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Czujnik</th>
          <th>Stan</th>
          <th>Ostatnia zmiana</th>
        </tr>
      </thead>
      <tbody>
  {%   for sensor in sensors %}
        <tr>
          <td>{{ sensor.sensor_id }}</td>
          <td>{{ sensor.state }}</td>
          <td>{{ sensor.since|date:"Y/m/d H:i T" }}</td>
        </tr>
  {%   endfor %}
      </tbody>
    </table>
  {% endif %}

  </div>

  <div class="col-md-5">

    <form class="form-inline" method="post" action="{{ form_target }}">

      <div class="form-group">

        <div class="input-group input-group">
          <span class="input-group-addon">@</span>
          <label class="sr-only" for="id_nick">Nick</label>
          {{ form.nick }}
        </div>

      </div>

      <div class="btn-group">
        <button type="submit" class="btn btn-success" name="enter" value="">Jestem</button>
        <button type="submit" class="btn btn-danger" name="leave" value="">Wychodzę</button>
      </div>

    </form>

  </div>

</div>

{% endblock %}
